@include element("field_container", "cv_mail") {
    display: block;
    width: 100%;
}


@include element("field", "cv_mail") {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    border-bottom: 2px solid $color-cv-input-border;
    outline: none;
    font-size: 20px;
    line-height: 40px;

    @include mod("is_focused") {
        border-bottom: 2px solid $color-cv-input-border-focus;
    }

    @include mod("is_error") {
        border-bottom: 2px solid $color-cv-error;
    }
}
