:root {
    --color-elephant: #283845;
    --color-black-squeeze: #E3E4DB;

    --color-storybook-background-canvas-gray: var(--color-elephant);
    --color-storybook-background-canvas-white: var(--color-black-squeeze);
}