$color-cv-error: var(--color-cv-error);
$color-top-bar-background: var(--color-top-bar-background);
$color-top-bar-border-bottom: var(--color-top-bar-border-bottom);
$color-top-bar-box-shadow: var(--color-top-bar-box-shadow);

$color-top-bar-button: var(--color-top-bar-button);
$color-top-bar-button-hover: var(--color-top-bar-button-hover);

$color-cv-background-main: var(--color-cv-background-main);
$color-cv-background-second: var(--color-cv-background-second);

$color-cv-text-main: var(--color-cv-text-main);
$color-cv-text-second: var(--color-cv-text-second);

$color-cv-button: var(--color-cv-button);
$color-cv-button-hover: var(--color-cv-button-hover);

$color-cv-input-border: var(--color-cv-input-border);
$color-cv-input-border-focus: var(--color-cv-input-border-focus);