$color-ui-kit-background-main-header: var(--color-ui-kit-background-main-header);
$color-ui-kit-background-main-header-logo: var(--color-ui-kit-background-main-header-logo);
$color-ui-kit-background-main-sidebar: var(--color-ui-kit-background-main-sidebar);
$color-ui-kit-background-main-content: var(--color-ui-kit-background-main-content);

$color-ui-kit-text-main: var(--color-ui-kit-text-main);
$color-ui-kit-text-main-active: var(--color-ui-kit-text-main-active);
$color-ui-kit-text-main-hover: var(--color-ui-kit-text-main-hover);
$color-ui-kit-text-main-focus: var(--color-ui-kit-text-main-focus);

$color-ui-kit-text-inverse: var(--color-ui-kit-text-inverse);
$color-ui-kit-text-inverse-active: var(--color-ui-kit-text-inverse-active);
$color-ui-kit-text-inverse-hover: var(--color-ui-kit-text-inverse-hover);
$color-ui-kit-text-inverse-focus: var(--color-ui-kit-text-inverse-focus);

$color-ui-kit-field: var(--color-ui-kit-field);
$color-ui-kit-field-inverse: var(--color-ui-kit-field-inverse);
$color-ui-kit-field-hover: var(--color-ui-kit-field-hover);
$color-ui-kit-field-focus: var(--color-ui-kit-field-focus);
$color-ui-kit-field-error: var(--color-ui-kit-field-error);